.post-details__center {
  text-align: center;
}
.post-details__btn-wrapper {
  display: flex;
  align-content: flex-start;
}
.post-details__btn {
  max-width: 40px;
  min-width: 40px;
  height: 24px;
}
.post-details__btn i {
  margin-right: 0 !important;
}

.post-details__btn-edit {
  text-decoration: none;
  color: inherit;
}

.post-details__btn-edit:hover {
  text-decoration: underline;
}

.post-details__btn-edit:visited,
.post-details__btn-edit:active {
  color: inherit;
}