.post-list-item__title {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}
.post-list-item__title:hover {
  text-decoration: underline;
}
.post-list-item__menu-anchor {
  cursor: pointer;
}
.post-list-item__card {
  max-width: 21em;
  margin: 10px;
  justify-content: space-between;
}